.container {
  display: grid;
  margin: 10px auto;
  height: auto;
  overflow: auto;
  width: 90%;
  box-sizing: border-box;
}
.container-head {
  display: grid;
  grid-template-columns: 300px auto 300px 300px 300px;
  gap: 1px;
}
.container-head .item {
  background-color: #2196f3;
  border: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
}
.container-body {
  display: grid;
  grid-template-columns: 300px auto 300px 300px 300px;
  grid-template-rows: auto auto auto;
  gap: 1px;
}

.container-body .item {
  border: 2px solid black;
  padding: 3px;
  box-sizing: border-box;
}

/* user identifer style */
.Identifier-head {
  width: 40%;
  margin: 0px auto;
}
.identifier {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 3px 3px 1px 0px;
}
li {
  list-style: none;
  display: flex;
}
